/*Texto de ABout*/
#AboutText{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 2em;
  position: relative;
  left: 17.5em;
  margin-top: 0em;
}
/*Fondo de About*/

.AboutContainer{
  background-color: #18BC9C;
  height: 110vh;
  width: 100%
}
/*Base de todo el documento*/
body {
  background-color: #b198da;
}

/*caja contenedora de imagen*/

body>div {
  background-color: #18BC9C;
  height: 75vh;
  display: block;
}

/*Letras de contacto en header*/

.Barraizq {
  border: none;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  padding: 2em;
  left: 50em;
  text-decoration: none;
}


/*Columna*/

.column {
  float: left;
  left: 5em;
  width: 23vw;
}

/*Propiedades de imagenes de Portafolio*/

.column article div .imagen {
  padding: 1em;
  width: 20vw;
}
/*Caja central con portafolio*/
#Cage {
  border-color: #467368;
  border: 80px;
  position: relative;
  padding-top: 5em;
  left: 15%;
}
/*Parrafos de About*/
p{
  color: white;
  display: block;
  float: left;
  margin-left: 5em;
  width: 25vw;
}
/*caja de parrafos*/
body .Contenedores section .AboutContainer .parafbox{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-align: justify;

  padding-left: 15%;
}

/* Caja de Imagen de perfil*/

#profileimage {
  display: block;
  position: relative;
  border-color: inherit;
  margin: 50px;
  left: 48em;
}

/*Contenedor base de Portafolio */

.Contenedor {
  background-color: white;
  margin-top: 2em;
  height: 110vh;
  width: 100%
}

/*Color de toodo el header*/

header {
  background: #2C3E50;
  border-bottom: 1px solid #2C3E50;
  border-top: 1px solid #2C3E50;
  color: #FFF;
  margin: 0;
  padding: 2px 0 0 12px;
  position: relative;
  top: -1px;
}

/*posicionamiento en bloque de todos los elementos en head*/

header>* {
  display: inline-block;
}

/*posicion de titulo*/

header h1 {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  left: 180px;
}

/*Titulo starbootstrap*/

#NameOfCurricular {
  color: White;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: relative;
  left: 10em;
}

/*Estrella negra */

section .star {

  position: relative;
  border-color: inherit;
  margin: 10px;
  left: 49em;
}

/*Letras de especialidad  o trabajo buscado*/

#Speciality {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
/*Estrella blanca*/
section .starWhite {

  position: relative;
  border-color: inherit;
  margin: 10px;
  left: 30em;
}
/*Texto de portafolio*/
#textportaf{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  left: 10em;


}
