/*Texto de ABout*/

#AboutText {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 2em;
  position: relative;
  left: 17.5em;
  margin-top: 0em;
}

/*Fondo de About*/

.AboutContainer {
  background-color: #18BC9C;
  height: 70vh;
  width: 100%
}

/*Base de todo el documento*/

body {
  background-color: #b198da;
}

/*caja contenedora de imagen*/

body>div {
  background-color: #18BC9C;
  height: 75vh;
  display: block;
}

/*Letras de contacto en header*/

.Barraizq {
  border: none;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  padding: 2em;
  left: 50em;
  text-decoration: none;
}

/*Boton de descarga y hoover*/

.button {
  background-image: none;
  border-color: #e9e9e9;
  border-radius: 1px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  margin-top: 15em;
  padding: 1em;
  position: relative;
  right: 39em;
  transition-duration: .8s;
}

.button:hover {
  background-color: #e9e9e9;
  color: black;
}

/*Columnas de imagenes*/

.column {
  float: left;
  left: 5em;
  width: 23vw;
}

/*Columnas de footer*/

.column-footer {
  position: relative;
  left: 20em;
  bottom: 5em;
  float: left;
  width: 18vw;
}

/*Propiedades de imagenes de Portafolio*/

.imagen {
  padding: 1em;
  width: 20vw;

}
.imagen:hover{
  transition-duration: .8s;
  background-color: #467368
}

/*Caja central con portafolio*/

#Cage {
  border-color: #467368;
  border: 80px;
  position: relative;
  padding-top: 5em;
  left: 15%;
}

/*Contenedor de todos los formularios y titulo de CONTACT ME*/

#FormularyContainer {
  padding-top: 3em;
  position: relative;
  left: 40em;
}

/*Parrafos de About*/

.Contenedores p {
  color: white;
  display: block;
  float: left;
  margin-left: 5em;
  width: 25vw;
}

/*caja de parrafos*/

body .Contenedores section .AboutContainer .parafbox {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-align: justify;
  padding-left: 15%;
}

/*Boton de SEND en Contact y el hoover*/

.send-button {
  background-color: #18BC9C;
  border-color: #e9e9e9;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  padding: 1em;
  transition-duration: .8s;
}

.send-button:hover {
  background-color: #65af6f;
  color: white;
}

/*Parrafo location box*/

.row-footer p {
  color: white;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}

/* Caja de Imagen de perfil*/

#profileimage {
  display: block;
  position: relative;
  border-color: inherit;
  margin: 50px;
  left: 48em;
}

/*Base contact me */

.Caja-ContactME {
  background-color: white;
  margin-top: -2em;
  height: 110vh;
  width: 100%
}

/*Contenedor base de Portafolio */

.Contenedor {
  background-color: white;
  margin-top: 2em;
  height: 110vh;
  width: 100%
}

/*Ultima barra*/

.Copyrigth {
  background-color: #1A252F;
  padding: 1em;
  color: white;
  text-align: center;
}

/*Color de toodo el header*/

header {
  background: #2C3E50;
  border-bottom: 1px solid #2C3E50;
  border-top: 1px solid #2C3E50;
  color: #FFF;
  margin: 0;
  padding: 2px 0 0 12px;
  position: relative;
  top: -1px;
}

/*posicionamiento en bloque de todos los elementos en head*/

header>* {
  display: inline-block;
}

/*posicion de titulo*/

header h1 {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  left: 180px;
}

/*Lineas de contacto */

hr {
  position: relative;
  right: 39em;
  width: 40em;
}

/*Titulos en footer*/

h4 {
  color: white;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

/*inputs*/

.input {
  border: none;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  height: 2em;
  margin-bottom: 2em;
  width: 27em;
}

/*Titulo starbootstrap*/

#NameOfCurricular {
  color: White;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: relative;
  left: 10em;
}

/*Base Footer*/

.row-footer {
  background-color: #2C3E50;
  padding: 10em;
}

/*Estrella negra */

section .star {
  position: relative;
  border-color: inherit;
  margin: 10px;
  left: 49em;
}

/*Letras de especialidad  o trabajo buscado*/

#Speciality {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/*Lista redes sociales*/

.SocialNet-List {
  display: inline;
  padding: 1em;
}

/*Iconos de redes sociales*/

.SocialNet-List i {
  color: white;
  font-size: 2em;
}

.SocialNet-Icon li* {
  /* FIXME:  */
  border: 4em;
  border-color: white;
}

/*Estrella blanca*/

.starWhite {
  position: relative;
  border-color: inherit;
  margin: 10px;
  left: 30em;
}

.starWhiteContact {
  text-align: center;
}

/*Texto de portafolio*/

#textportaf {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  left: 10em;
}

/*Texto contacto */

#textContact {
  text-align: center;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 2em;
}

/*Lista de las redes sociales */

ul {
  position: relative;
  left: -6em;
}
